.App {
  font-family: Arial, sans-serif;
  margin: 20px;
  max-width: 600px;
  margin: auto;
  background-color: whitesmoke;
}

h1 {
  text-align: center;
}

form {
  margin: 0 auto;
}

fieldset {
  border: 1px solid #052464;
  padding: 10px;
  margin-bottom: 10px;
}

legend {
  font-weight: bold;
}

label {
  display: block;
  margin: 5px 0;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color:darkgray;
}

.result {
  font-size: 18px;
  margin-top: 20px;
  text-align: center;
  color:#052464;
}

main {
  flex: 1;
}

.App-footer {
  background-color: #052464;
  color: white;
  text-align: center;
  padding: 10px;
  position: center;
  bottom: 0;
  margin-top: 20px;
  max-width: 100%;
}
.logo {
  max-width:100% ; /* Adjust the size as needed */
  height: max-content; /* Maintain aspect ratio */
}